version: 0.2.5
git_path: git
repo_dirs:
  - /Users/hayden/code/repos

tmux:
  enabled: [tmux]
  poll_interval: 500ms

tui:
  refresh_interval: 10s
  preview_enabled: true

plugins:
  shell_workers: 10 # shared subprocess concurrency limit

rules:
  - pattern: ""
    max_recycled: 3
    spawn:
      # Create or switch to tmux session
      # - ~/.config/tmux/layouts/hive.sh {{ .Name | shq }} {{ .Path | shq }}
    batch_spawn:
      # Create tmux session in background with prompt
      # - ~/.config/tmux/layouts/hive.sh -b {{ .Name | shq }} {{ .Path | shq }} {{ .Prompt | shq }}
    commands:
      - hive ctx init
      - bd init --force --stealth || true
  - pattern: ".*[:/]grafana/.*"
    commands:
      - mise trust
  - pattern: ".*[:/]hay-kot/.*"
    commands:
      - mise trust
  - pattern: ".*[:/]hay-kot/recipinned"
    commands:
      - task dep:sync
      # - task pc:install
  - pattern: ".*[:/]hay-kot/mealie"
    commands:
      - task setup

keybindings:
  A:
    cmd: SendAccept
  ctrl+d:
    cmd: TmuxKill
  t:
    cmd: SendTidy
  p:
    cmd: TmuxPopUp

usercommands:
  ReviewRequest:
    sh: "~/.config/hive/scripts/request-review.sh {{ .Name }}"
    help: "Request code review of current branch"
    silent: true

  CheckInbox:
    sh: claude-send "{{ .Name }}:{{ .TmuxWindow }}" "/hive-msg check you input for messages hive msg sub -t agent.{{ .ID }}.inbox --new"
    help: "Instructs claude to check it's inbox"
    silent: true

  SendAccept:
    sh: claude-send "{{ .Name }}:{{ .TmuxWindow }}"
    help: "Send enter to claude window"
    silent: true

  SendTidy:
    help: send /tidy
    sh: claude-send "{{ .Name }}:{{ .TmuxWindow }}" "/tidy"
    silent: true

  SendClear:
    help: send /clear
    sh: claude-send "{{ .Name }}:{{ .TmuxWindow }}" "/clear"
    silent: true

  SendRebase:
    help: send /tidy
    sh: claude-send "{{ .Name }}:{{ .TmuxWindow }} " "fetch and rebase the current branch on {{ if .Args }}{{ index .Args 0 }}{{ else }}main{{ end }} branch and resolve any conflicts"
    silent: true

  OpenInZed:
    sh: "zed {{ .Path }}"
    help: open in zed
    silent: true

  PRLink:
    sh: "cd {{ .Path }} && prlink"
    help: get a pr link
    silent: false

  TmuxPopUp:
    help: popup
    sh: tmux display-popup -E -w 80% -h 80% "tmux kill-session -t hive-popup 2>/dev/null; tmux new-session -s hive-popup -t '{{ .Name }}' \; select-window -t :{{ .TmuxWindow }}"
    exit: false
    silent: true

  CopyAgentInbox:
    help: copy agent inbox to clipboard
    sh: cd {{ .Path }} && hive session info --json | jq .inbox -r | pbcopy
    silent: true
