version: 0.2.3
git_path: git
repo_dirs:
  - /Users/hayden/code/repos

integrations:
  terminal:
    enabled: [tmux]
    poll_interval: 500ms

tui:
  refresh_interval: 15s
  preview_enabled: true

commands:
  spawn:
    # Create or switch to tmux session
    - ~/.config/tmux/layouts/hive.sh "{{ .Name }}" "{{ .Path }}"
  batch_spawn:
    # Create tmux session in background with prompt
    - ~/.config/tmux/layouts/hive.sh -b "{{ .Name }}" "{{ .Path }}" "{{ .Prompt }}"

rules:
  - pattern: ""
    max_recycled: 3
    commands:
      - hive ctx init
  - pattern: ".*[:/]grafana/.*"
    commands:
      - mise trust
  - pattern: ".*[:/]hay-kot/.*"
    commands:
      - mise trust
  - pattern: ".*[:/]hay-kot/recipinned"
    commands:
      - task dep:sync
      # - task pc:install
  - pattern: ".*[:/]hay-kot/mealie"
    commands:
      - task setup

keybindings:
  A:
    cmd: SendAccept
  ctrl+d:
    cmd: SendAccept
  t:
    cmd: SendTidy
  p:
    cmd: TmuxPopUp 
  enter:
    cmd: TmuxCreateOrAttach

usercommands:
  ClaudeNewWindow:
    sh: 'tmux new-window -t "{{ .Name }}" -n "{{ if .Args }}{{ index .Args 0 }}{{ else }}claude-2{{ end }}" -c "{{ .Path }}" "claude"'
    help: "open a new claude tab in the tmux session (optional: :fork window-name)"
    silent: true

  ReviewRequest:
    sh: "~/.config/hive/scripts/request-review.sh {{ .Name }}"
    help: "Request code review of current branch"
    silent: false

  CheckInbox:
    sh: claude-send "{{ .Name }}:claude" "/hive-msg check you input for messages hive msg sub -t agent.{{ .ID }}.inbox --new"
    help: "Instructs claude to check it's inbox"
    silent: false

  SendAccept:
    sh: claude-send "{{ .Name }}:claude"
    help: "Send enter to claude window"
    silent: false

  SendTidy:
    help: send /tidy
    sh: claude-send "{{ .Name }}:claude" "/tidy"
    silent: true

  OpenInZed:
    sh: "zed {{ .Path }}"
    help: open in zed
    slient: true

  PRLink:
    sh: "cd {{ .Path }} && prlink"
    help: get a pr link
    slient: false

  TmuxCreateOrAttach:
    help: open/create tmux
    sh: ~/.config/tmux/layouts/hive.sh "{{ .Name }}" "{{ .Path }}"
    exit: $HIVE_POPUP
    silent: true

  TmuxPopUp:
    help: popup
    sh: tmux display-popup -E -w 80% -h 80% "tmux kill-session -t hive-popup 2>/dev/null; tmux new-session -s hive-popup -t '{{ .Name }}' \; select-window -t :claude"
    exit: false
    silent: true

  TmuxKill:
    help: kill tmux session
    sh: tmux kill-session -t "{{ .Name }}" 2>/dev/null || true
