git_path: git

commands:
  spawn:
    - |
      new_pane_id=$(wezterm cli spawn --cwd "{{ .Path }}") \
      && echo "claude '{{ .Prompt }}'" | wezterm cli send-text --no-paste --pane-id="$new_pane_id"
  recycle:
    - git reset --hard
    - git checkout main
    - git pull

hooks:
  - pattern: "**/hay-kot/recipinned"
    commands:
      - mise trust
      - task dep:sync

keybindings:
  o:
    help: open in finder
    sh: "open {{ .Path }}"
