git_path: git

commands:
  spawn:
    - >-
      new_pane_id=$(wezterm cli spawn --cwd "{{ .Path }}")
      && wezterm cli set-tab-title --pane-id="$new_pane_id" '{{ .Name }}'
      && echo claude \"{{ .Prompt | shq }}\"
      | wezterm cli send-text --no-paste --pane-id="$new_pane_id"
  recycle:
    - git reset --hard
    - git checkout main
    - git pull

hooks:
  - pattern: ".*[:/]grafana/.*"
    commands:
      - mise trust
  - pattern: ".*[:/]hay-kot/.*"
    commands:
      - mise trust
  - pattern: ".*[:/]hay-kot/recipinned"
    commands:
      - task dep:sync

keybindings:
  o:
    help: open in finder
    sh: "open {{ .Path }}"
  enter:
    help: open in weaterm
    sh: "wezterm cli spawn --cwd '{{ .Path }}'"
