git_path: git

commands:
  spawn:
    # - >-
    #   new_pane_id=$(wezterm cli spawn --cwd "{{ .Path }}")
    #   && wezterm cli set-tab-title --pane-id="$new_pane_id" '{{ .Name }}'
    #   && echo claude \"{{ .Prompt | shq }}\"
    #   | wezterm cli send-text --no-paste --pane-id="$new_pane_id"
    - >-
      new_pane_id=$(wezterm cli spawn --cwd "{{ .Path }}" -- zellij attach "{{ .Name }}" -c)
      && wezterm cli set-tab-title --pane-id="$new_pane_id" '{{ .Name }}'
      && sleep 0.3
      && zellij -s "{{ .Name }}" action write-chars "claude '{{ .Prompt }}'"
      && zellij -s "{{ .Name }}" action write 13
  recycle:
    - git reset --hard
    - git checkout main
    - git pull

hooks:
  - pattern: ".*[:/]grafana/.*"
    commands:
      - mise trust
  - pattern: ".*[:/]hay-kot/.*"
    commands:
      - mise trust
  - pattern: ".*[:/]hay-kot/recipinned"
    commands:
      - task dep:sync
      - task pc:install

keybindings:
  enter:
    help: open in zellij session
    # sh: "wezterm cli spawn --cwd '{{ .Path }}'"
    sh: >-
      new_pane_id=$(wezterm cli spawn --cwd "{{ .Path }}" -- zellij attach "{{ .Name }}" -c)
      && wezterm cli set-tab-title --pane-id="$new_pane_id" '{{ .Name }}'
